Temp
obj
.DS_Store
*.log
/Library/metadata
/Library/ShaderCache
/Library/ShaderCache.db
/Library/AssetVersioning.db
/Library/AssetServerCacheV3
/Library/assetDatabase3
/Library/FailedAssetImports.txt
/Library/LastBuild.buildreport
/Library/CrashedAssetImports.txt
*.meta
*.dll.mdb
