Temp
obj
.DS_Store
*.log
metadata
ShaderCache
ShaderCache.db
AssetVersioning.db
AssetServerCacheV3
assetDatabase3
FailedAssetImports.txt
LastBuild.buildreport
CrashedAssetImports.txt
*.meta
*.dll.mdb
ScriptAssemblies
assetDatabase3
